@media screen {
}

.Projects-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  max-width: 100%;
  overflow: visible;
  padding: 30px;
  position: relative;
}

.Projects-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  /*flex-order: reverse-row to alternate image position*/
}

.Project-image {
  min-width: 400px;
  max-width: 50%;
  /* width: clamp(
    700px,
    50vw,
    50%
  );  */
  /*dynamically resizes images, using minimum width, width and max width*/
  max-width: 50%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  border-radius: 0.8rem;
}

.Projects-description {
  display: flex;
  flex-direction: column;
  flex: 1 0 0px;
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  max-width: 400px;
  p {
    text-align: start;
    font-family: "Inter", sans-serif;
    color: #888888;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  h1 {
    text-align: start;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #00497a;
}
