.Skills-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 40px;
  color: #000000;
  padding: 0;
  background-color: #f7f7f7;
  text-align: start;
  h1 {
    text-align: start;
    font-size: 32px;
    margin: 16px 0 16px 40px;
  }
}

.Skills-subcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: min-content;
  justify-content: flex-start;
  padding: 1rem;
  position: relative;
  li {
    list-style-type: none;
    font-family: "Inter", sans-serif;
    color: #888888;
    margin: 0.4rem auto;
  }
}

.Skills-description {
  align-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 1px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #00497a;
}
