.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.Intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-bottom: 2rem;
  p {
    margin: 0px;
  }
}

.Section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  font-family: "Inter", sans-serif;
  color: #888888;
  margin-bottom: 5rem;
  a {
    color: #888;
  }
  a:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: "Instrument Serif", italic;
  font-style: italic;
  p {
    margin: 0px auto;
  }
}

.body-text {
  font-family: "Inter", sans-serif;
  color: #888888;
  text-wrap: wrap;
  padding-bottom: 20px;
  p {
    margin: 0px auto;
  }
}

.footer {
  display: flex;
  background-color: #222222;
  font-family: "Inter", sans-serif;
  color: #f7f7f7;
  padding: 20px;
  justify-content: left;
  p {
    margin: 0;
  }
}

code {
  font-family: "Inter", sans-serif;
}
