body {
  margin: 0;
  font-family: "Instrument Serif", italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    font-family: "Instrument Serif", italic;
    font-weight: inherit;
    font-size: 44px;
  }

  p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
  }
}
